In [ ]:
from nltk.translate.bleu_score import sentence_bleu, SmoothingFunction
import pandas as pd
qwen = pd.DataFrame(columns=['BLEU1', 'BLEU4'])
qwen_rag = pd.DataFrame(columns=['BLEU1', 'BLEU4'])
weights_4 = (0.25, 0.25, 0.25, 0.25)
weights_1 = (1.0, 0.0, 0.0, 0.0)
smooth = SmoothingFunction().method2
with open('qwen.txt', 'r') as f1, open('qwen_rag.txt', 'r') as f2, open('/home/alina/QA_rag/db/test/test.answer', 'r') as f3:
        for q, rag, orig in zip(f1, f2, f3):
                candidate = q.split()
                candidate_rag = rag.split()
                orig = [orig.split()]
                qwen.loc[len(qwen)] = [sentence_bleu(orig, candidate, weights=weights_4, smoothing_function=smooth), sentence_bleu(orig, candidate, weights=weights_1, smoothing_function=smooth)]
                qwen_rag.loc[len(qwen_rag)] = [sentence_bleu(orig, candidate_rag, weights=weights_4, smoothing_function=smooth), sentence_bleu(orig, candidate_rag, weights=weights_1, smoothing_function=smooth)]

In [ ]:
print("\033[1;34mОценка ответов модели с историческими документами:\033[0m")
qwen_rag

Оценка ответов модели с историческими документами:

         BLEU1     BLEU4
0     0.408248  0.333333
1     0.594604  1.000000
2     0.143252  0.214879
3     0.408248  0.333333
4     0.000000  0.000000
...        ...       ...
6995  0.000000  0.000000
6996  0.091530  0.071626
6997  0.303265  0.454898
6998  0.000000  0.000000
6999  0.117527  0.091970

[7000 rows x 2 columns]

In [21]:
print("\033[1;34mОценка ответов модели без исторических документов:\033[0m")
qwen

Оценка ответов модели без исторических документов:

         BLEU1     BLEU4
0     0.144907  0.222222
1     0.319472  0.250000
2     0.191820  0.330936
3     0.000000  0.000000
4     0.000000  0.000000
...        ...       ...
6995  0.000000  0.000000
6996  0.171633  0.214708
6997  0.228395  0.285714
6998  0.000000  0.000000
6999  0.140000  0.123840

[7000 rows x 2 columns]

In [22]:
print("\033[1;34mСтатистика оценок модели с историческими данными:\033[0m")
qwen_rag.describe()

Статистика оценок модели с историческими данными:

             BLEU1        BLEU4
count  7000.000000  7000.000000
mean      0.178985     0.206527
std       0.218952     0.260934
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.125061     0.125000
75%       0.285744     0.327492
max       1.000000     1.000000

In [23]:
print("\033[1;34mСтатистика оценок модели без исторических данных:\033[0m")
qwen.describe()

Статистика оценок модели без исторических данных:

             BLEU1        BLEU4
count  7000.000000  7000.000000
mean      0.080834     0.087958
std       0.098221     0.116527
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.000000     0.000000
75%       0.161499     0.161348
max       0.672126     1.000000