In [ ]:
from nltk.translate.bleu_score import sentence_bleu, SmoothingFunction
from nltk.translate.meteor_score import meteor_score
from rouge_score import rouge_scorer
import pandas as pd
qwen = pd.DataFrame(columns=['BLEU1', 'BLEU4', 'METEOR', 'ROUGE'])
qwen_rag = pd.DataFrame(columns=['BLEU1', 'BLEU4', 'METEOR', 'ROUGE'])
weights_4 = (0.25, 0.25, 0.25, 0.25)
weights_1 = (1.0, 0.0, 0.0, 0.0)
smooth = SmoothingFunction().method2
scorer = rouge_scorer.RougeScorer(['rougeL'], use_stemmer=True)
with open('qwen.txt', 'r') as f1, open('qwen_rag.txt', 'r') as f2, open('/home/alina/QA_rag/db/test/test.answer', 'r') as f3:
        for q, rag, orig in zip(f1, f2, f3):
                candidate = q.split()
                candidate_rag = rag.split()
                orig_answer = [orig.split()]
                qwen.loc[len(qwen)] = [sentence_bleu(orig_answer, candidate, weights=weights_1, smoothing_function=smooth), 
                                       sentence_bleu(orig_answer, candidate, weights=weights_4, smoothing_function=smooth), 
                                       meteor_score(orig_answer, candidate),
                                       scorer.score(orig, q)['rougeL'].fmeasure
                                       ]
                qwen_rag.loc[len(qwen_rag)] = [sentence_bleu(orig_answer, candidate_rag, weights=weights_1, smoothing_function=smooth), 
                                               sentence_bleu(orig_answer, candidate_rag, weights=weights_4, smoothing_function=smooth),
                                               meteor_score(orig_answer, candidate_rag),
                                               scorer.score(orig, rag)['rougeL'].fmeasure
                                               ]

In [53]:
print("\033[1;34mОценка ответов модели с историческими документами:\033[0m")
qwen_rag

Оценка ответов модели с историческими документами:

         BLEU1     BLEU4    METEOR     ROUGE
0     0.333333  0.408248  0.166667  0.333333
1     1.000000  0.594604  0.500000  1.000000
2     0.214879  0.143252  0.300654  0.461538
3     0.333333  0.408248  0.416667  0.500000
4     0.000000  0.000000  0.000000  0.000000
...        ...       ...       ...       ...
6995  0.000000  0.000000  0.000000  0.000000
6996  0.071626  0.091530  0.117647  0.166667
6997  0.454898  0.303265  0.440613  0.600000
6998  0.000000  0.000000  0.000000  0.000000
6999  0.091970  0.117527  0.065789  0.166667

[7000 rows x 4 columns]

In [54]:
print("\033[1;34mОценка ответов модели без исторических документов:\033[0m")
qwen

Оценка ответов модели без исторических документов:

         BLEU1     BLEU4    METEOR     ROUGE
0     0.222222  0.144907  0.277778  0.307692
1     0.250000  0.319472  0.384615  0.400000
2     0.330936  0.191820  0.287141  0.352941
3     0.000000  0.000000  0.000000  0.000000
4     0.000000  0.000000  0.000000  0.000000
...        ...       ...       ...       ...
6995  0.000000  0.000000  0.000000  0.000000
6996  0.214708  0.171633  0.213068  0.266667
6997  0.285714  0.228395  0.307377  0.461538
6998  0.000000  0.000000  0.000000  0.133333
6999  0.123840  0.140000  0.126582  0.266667

[7000 rows x 4 columns]

In [55]:
print("\033[1;34mСтатистика оценок модели с историческими данными:\033[0m")
qwen_rag.describe()

Статистика оценок модели с историческими данными:

             BLEU1        BLEU4       METEOR        ROUGE
count  7000.000000  7000.000000  7000.000000  7000.000000
mean      0.206527     0.178985     0.217019     0.299760
std       0.260934     0.218952     0.258277     0.280018
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       0.125000     0.125061     0.129870     0.250000
75%       0.327492     0.285744     0.312500     0.444444
max       1.000000     1.000000     0.999878     1.000000

In [56]:
print("\033[1;34mСтатистика оценок модели без исторических данных:\033[0m")
qwen.describe()

Статистика оценок модели без исторических данных:

             BLEU1        BLEU4       METEOR        ROUGE
count  7000.000000  7000.000000  7000.000000  7000.000000
mean      0.087958     0.080834     0.118932     0.174506
std       0.116527     0.098221     0.154910     0.165689
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.080645     0.166667
75%       0.161348     0.161499     0.161290     0.266667
max       1.000000     0.672126     0.920139     1.000000